<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://truckapp-archive-func-hdh8drb0cnhuepgk.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f7e8e561-feb5-4cf6-8c9c-3f3f85718834/resourceGroups/truckapp-rg/providers/Microsoft.Web/sites/truckapp-archive-func</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://truckapp-archive-func-hdh8drb0cnhuepgk.scm.westeurope-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>